<p style="<%= email_text_greeting %>"><%= t(".greeting", name: @name) %></p>

<p style="<%= email_text_body %>"><%= t(".body") %></p>

<%= email_code_box(@code) %>

<p style="<%= email_text_meta %>"><%= t(".expires") %></p>

<p style="<%= email_text_muted %>"><%= t(".ignore") %></p>
