<div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
  <%= render Campbooks::Input.new("document[vendor_name]", label: t(".vendor_name"), value: f.object.vendor_name) %>

  <%= render Campbooks::Input.new("document[vendor_nif]", label: t(".vendor_nif"), value: f.object.vendor_nif, placeholder: "123456789") %>

  <%= render Campbooks::Input.new("document[document_date]", type: :date, label: t(".document_date"), value: f.object.document_date) %>

  <%= render Campbooks::Input.new("document[receipt_number]", label: t(".receipt_number"), value: f.object.receipt_number) %>

  <%= render Campbooks::Input.new("document[amount_cents]", type: :number, label: t(".amount_cents"), value: f.object.amount_cents) %>

  <%= render Campbooks::Select.new("document[payment_method]", label: t(".payment_method"), options: payment_method_options, include_blank: t(".select_method"), selected: f.object.payment_method) %>
</div>
