<div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
  <%= render Campbooks::Input.new("document[client_name]", label: t(".client_name"), value: f.object.client_name) %>

  <%= render Campbooks::Input.new("document[client_nif]", label: t(".client_nif"), value: f.object.client_nif, placeholder: "123456789") %>

  <%= render Campbooks::Input.new("document[document_date]", type: :date, label: t(".document_date"), value: f.object.document_date) %>

  <%= render Campbooks::Input.new("document[due_date]", type: :date, label: t(".due_date"), value: f.object.due_date) %>

  <%= render Campbooks::Input.new("document[invoice_number]", label: t(".invoice_number"), value: f.object.invoice_number) %>

  <%= render Campbooks::Input.new("document[amount_cents]", type: :number, label: t(".amount_cents"), value: f.object.amount_cents) %>

  <%= render Campbooks::Input.new("document[currency]", label: t(".currency"), value: f.object.currency) %>

  <%= render Campbooks::Input.new("document[tax_amount_cents]", type: :number, label: t(".tax_amount_cents"), value: f.object.tax_amount_cents) %>

  <%= render Campbooks::Input.new("document[tax_rate]", type: :number, label: t(".tax_rate"), value: f.object.tax_rate, step: 0.01) %>
</div>
