<%# Lazy pagination: append the next page of call rows, then advance the cursor. %>
<%= turbo_stream.append "isc_rows" do %>
  <% @calls.each do |call| %>
    <%= render(Campbooks::SystemHealth::CallRow.new(call: call, show_workspace: true)) %>
  <% end %>
<% end %>

<% if @pagy.next %>
  <%= turbo_stream.replace "isc_pagination" do %>
    <%= turbo_frame_tag "isc_pagination",
          src: admin_system_health_path(
            page:    @pagy.next,
            service: params[:service].presence,
            status:  params[:status].presence,
            window:  params[:window].presence,
            format:  :turbo_stream
          ),
          loading: :lazy do %>
      <div class="flex justify-center py-4">
        <%= render(Campbooks::Spinner.new(size: :sm)) %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <%= turbo_stream.remove "isc_pagination" %>
<% end %>
