<!DOCTYPE html>
<html class="h-full bg-background">
  <head>
    <%= render "shared/theme_head" %>
    <title>Component Preview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="h-full text-foreground" data-controller="theme">
    <div class="p-6">
      <%= yield %>
    </div>
  </body>
</html>
